<!DOCTYPE html>
<html lang="en" data-ng-app="northwindApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Change title, description and keywords -->
    <title>Northwind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

    <!-- Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/font-awesome.css">
    <!--[if IE 7]>
  <link rel="stylesheet" href="css/bootstrap/font-awesome-ie7.css">
  <![endif]-->

    <link href="css/bootstrap/ddlevelsmenu-base.css" rel="stylesheet">
    <link href="css/bootstrap/ddlevelsmenu-topbar.css" rel="stylesheet">
    <link href="css/bootstrap/style.css" rel="stylesheet">
    <!-- Change the template color below. Supported colors blue,red and green. -->
    <link href="css/bootstrap/blue.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/bootstrap/flexslider.css" rel="stylesheet">
    <link href="css/bootstrap/prettyPhoto.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/bootstrap/favicon/favicon.png">
</head>

<body>

    <!-- Sliding share panel. Click "Share it" to see. -->

    <div class="sharepanel">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="padd spara">
                        <!-- Small para -->
                        <p>Welcome to Northwind Data Explorer  </p>
                        <p id ="demo"></p>
                    </div>
                </div>



                <div class="span4">
                    <div class="padd">
                        <div class="social">
                            <!-- Social media icons. Repalce # with your profile links -->
                            <a href="#">
                                <img src="img/bootstrap/facebook.png" alt="" width="40" /></a>
                            <a href="#">
                                <img src="img/bootstrap/twitter.png" alt="" width="40" /></a>
                            <a href="#">
                                <img src="img/bootstrap/linkedin.png" alt="" width="40" /></a>
                            <a href="#">
                                <img src="img/bootstrap/googleplus.png" alt="" width="40" /></a>
                            <a href="#">
                                <img src="img/bootstrap/rss.png" alt="" width="40" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>



    </div>
                    <div class="share">
                        <div class="pull-right">
                            <!-- Share it link for slider -->
                            <p><a href="#" class="open"><span class="hidden-phone">Share it</span> <i class="icon-share"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    

    <div class="main">
        <div class="container">
            <div class="row">

                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Select the Employees Tab to look more Information.
                </div>

 <!--               <div data-ng-controller="alertController">

                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    <button class='btn' data-ng-click="addAlert()">Add Alert</button>
                </div>-->

                <div data-ng-view=""></div>

                <!--<div>Angular seed app: v<span data-app-version=""></span></div>-->

            </div>
        </div>
    </div>

    <!-- Foot -->

    <!-- Three column footer -->

    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="padd">
                        <!-- Add class "widget" -->
                        <div class="widget">
                            <!-- Title -->
                            <h4>Web system  For northwind</h4>
                            <!-- Content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="lib/bootstrap/jquery.js"></script>
    <script src="lib/bootstrap/easing.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="lib/bootstrap/ddlevelsmenu.js"></script>
    <script type="text/javascript" src="lib/bootstrap/flexslider.js"></script>
    <script type="text/javascript" src="lib/bootstrap/isotype.js"></script>
    <script type="text/javascript" src="lib/bootstrap/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="lib/bootstrap/custom.js"></script>
<script>
document.getElementById("demo").innerHTML = Date();
</script>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->

</body>
</html>






﻿
